.boldier {
    font-family: 'Staatliches';
}

.boldier2 {
    margin-top: 80px;
    margin-left: 10px;
    font-family: 'Staatliches';
    font-size: 7vw;
    display: inline-block;
    width: 400px;    
}

.boldier3 {
    font-family: 'Staatliches';
    font-size: 7vw;
    display: inline-block;
    margin-left: 650px;
    margin-top: -2px;
    width: 700px;
}

.bg1 {
    background-color: cornflowerblue;
}